<a href="https://colab.research.google.com/github/arose030/CSC221_arose030/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#TIY 4-1
tops = ["pepperoni", "meatball", "mushroom"]
for top in tops:
  print('I love', top, 'pizza.')
print('I really love pizza!')

I love pepperoni pizza.
I love meatball pizza.
I love mushroom pizza.
I really love pizza!

In [2]:
#TIY 4-2
pets = ['dog', 'cat', 'duck']
for pet in pets:
  print('A', pet, 'would make a great pet.')
print('All of these animals are very fluffy and like to be pet')

A dog would make a great pet.
A cat would make a great pet.
A duck would make a great pet.
All of these animals are very fluffy and like to be pet

In [4]:
#TIY 4-3
digs = []
for value in range(1,21):
  digs.append(value)
print(digs)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [3]:
#TIY 4-4
digs = []
for value in range(1,1000001):
  digs.append(value)
print(digs)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [5]:
#TIY 4-5
digs = []
for value in range(1,1000001):
  digs.append(value)
min(digs)
max(digs)
sum(digs)

500000500000

In [6]:
#TIY 4-6
odds = list(range(1, 21, 2))
for number in odds:
  print(number)

1
3
5
7
9
11
13
15
17
19

In [7]:
#TIY 4-7
threes = list(range(3, 31, 3))

for number in threes:
    print(number)

3
6
9
12
15
18
21
24
27
30

In [8]:
#TIY 4-8
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [9]:
#TIY 4-9
cubes = [number**3 for number in range(1,11)]

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [10]:
#TIY 4-10
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print('The first three items in the list are:')
print(players[:3])
print('The middle three items in the list are:')
print(players[1:4])
print('The last three items in the list are:')
print(players[2:])

The first three items in the list are:
['charles', 'martina', 'michael']
The middle three items in the list are:
['martina', 'michael', 'florence']
The last three items in the list are:
['michael', 'florence', 'eli']

In [11]:
#TIY 4-11
tops = ["pepperoni", "meatball", "mushroom"]
friend_pizzas = tops[:]
tops.append('ranch')
friend_pizzas.append('pineapple')
for top in tops:
  print('My favorite pizzas are', top)
for top in friend_pizzas:
  print('My friends favorite pizzas are' , top)

My favorite pizzas are pepperoni
My favorite pizzas are meatball
My favorite pizzas are mushroom
My favorite pizzas are ranch
My friends favorite pizzas are pepperoni
My friends favorite pizzas are meatball
My friends favorite pizzas are mushroom
My friends favorite pizzas are pineapple

In [14]:
#TIY 4-12
my_foods = ['pizza', 'nachos', 'cake']
friend_foods = my_foods[:]

my_foods.append('cannoli')
friend_foods.append('ice cream')

print("My favorite foods are:")
for food in my_foods:
    print(f"- {food}")

print("\nMy friend's favorite foods are:")
for food in friend_foods:
    print(f"- {food}")

My favorite foods are:
- pizza
- nachos
- cake
- cannoli

My friend's favorite foods are:
- pizza
- nachos
- cake
- ice cream

In [16]:
#TIY 4-13
menu_items = (
    'chicken fingers', 'tacos', 'chicken wings',
    'cheese burger', 'penne',
    )

print("You can choose from the following menu items:")
for item in menu_items:
    print(f"- {item}")

menu_items = (
    'steak', 'salmon', 'chicken wings',
    'cheese burger', 'penne',
    )

print("\nOur menu has been updated.")
print("You can now choose from the following items:")
for item in menu_items:
    print(f"- {item}")

You can choose from the following menu items:
- chicken fingers
- tacos
- chicken wings
- cheese burger
- penne

Our menu has been updated.
You can now choose from the following items:
- steak
- salmon
- chicken wings
- cheese burger
- penne

In [ ]:
#TIY 4-14
# (PEP 8)

In [ ]:
#TIY 4-15
# (I think all my code follows PEP 8 guidelines already.)

In [19]:
def factorial(n):
  for value in range(1, n):

    print

In [20]:
def factorial(n):
  my_list = []
  for value in (range(1, n+1)):
    my_list.append(value)
  product = 1
  for x in my_list:
    product *= x
  return product

In [21]:
def special_factorial(n):
  my_list = []
  for value in (range(1, n+1)):
    my_list.append(value)
  product = 1
  if n >=4:
    my_list.remove(4)
  if n >=13:
    my_list.remove(13)
  if n >=22:
    my_list.remove(22)
  for x in my_list:
    product *= x
  return product

In [22]:
print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000